<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel - Upload Excel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
    <nav>
        <a href="/admin">Admin</a>
        <a href="/search">Search</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
    
    <h1>Admin Panel - Upload Excel Files</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="file" name="file" required>
        <input type="submit" value="Upload Excel File">
    </form>

    <br>
    <div class="button-group">
        <a href="{{ url_for('static', filename='files/ppr_sample.xlsx') }}" download>
            <button type="button">Download Sample Excel File</button>
        </a>

        <a href="{{ url_for('static', filename='files/malicious.xlsx') }}" download>
            <button type="button">Download A Malicious Excel File</button>
        </a>

        <a href="{{ url_for('static', filename='files/3mb.xlsx') }}" download>
            <button type="button">Download A 3 MB Excel File</button>
        </a>
    </div>

    <h2>Uploaded Files:</h2>
    <ul>
        {% for file in files %}
            <li>
                {{ file.filename }} (Uploaded: {{ file.upload_date.strftime('%Y-%m-%d %H:%M') }}, By: {{ file.uploader.username }})
            </li>
        {% else %}
            <li>No files uploaded yet.</li>
        {% endfor %}
    </ul>

    <br>
    <a href="{{ url_for('search_ppr') }}">Go to Search Page</a>
</body>
</html>
