<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel - Upload Excel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
    <nav>
        <a href="/admin">Admin</a>
        <a href="/search">Search</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
    
    <h1>Admin Panel - Upload Excel Files</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="submit" value="Upload Excel File">
    </form>

    <br>
    <a href="{{ url_for('static', filename='files/ppr_sample.xlsx') }}" download>
        <button type="button">Download Sample Excel File</button>
    </a>

    <h2>Uploaded Files:</h2>
    <ul>
        {% for file in files %}
            <li>
                {{ file.filename }} (Uploaded: {{ file.upload_date.strftime('%Y-%m-%d %H:%M') }}, By: {{ file.uploader.username }})
            </li>
        {% else %}
            <li>No files uploaded yet.</li>
        {% endfor %}
    </ul>

    <br>
    <a href="{{ url_for('search_ppr') }}">Go to Search Page</a>
</body>
</html>
