<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
</head>
<body>
  <h1>Welcome!</h1>
  {% if current_user.is_authenticated %}
    <p>Hello, {{ current_user.id }}!</p>
    <a href="{{ url_for('admin_upload') }}">Go to Admin Panel</a><br>
    <a href="{{ url_for('search_ppr') }}">Go to Search Page</a><br>
    <a href="{{ url_for('logout') }}">Logout</a>
  {% else %}
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
  {% endif %}
</body>
</html>